/* * The body style is just for the
 * background color of the codepen.
 * Do not include in your code.
 */
body {
  background-color: #111;
  color: #fff;
  margin-top: 4em;

}
/*
 * Styles essential to the sample
 * are below
 */
.video-js {
  height: 344px;
  width: 610px;
  margin: 0 auto;
}
.theForm {
  background-color: rgb(248, 181, 1);
  color: #000099;
}
